.panels {
  border: 1px solid #000;
  width: 350px;
  overflow: hidden;
}

//スライドイン・スライドアウトの実装
// アニメーションの最中
// .v-enter-active, .v-leave-active {
//   transition: height 1s;
// }

// //要素が追加（表示）される時のアニメーションの最初の状態
// .v-enter {
//   height: 0px;
// }
// //要素が追加（表示）される時のアニメーションの最後の状態
// .v-enter-to {
//   height: 200px;
// }
// //要素が破棄（非表示）される時のアニメーションの最初の状態
// .v-leave {
//   height: 200px;
// }
// //要素が破棄（非表示）される時のアニメーションの最後の状態
// .v-leave-to {
//   height: 0px;
// }

// // フェードイン、フェードアウトの実装
// .v-enter-active, .v-leave-active {
//   transition: opacity 3s;
// }
// // 同じ値は統合できる
// //opacityの規定は1.0であるため、省略することができる
// .v-enter, .v-leave-to {
//   opacity: 0.0;
// }

//キーフレームによるアニメーションの実行
@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    transform: translateX(20%);
    opacity: 0.2;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.panel-enter-active {
  animation: slide-in 1.5s;
}

.panel-leave-active {
  animation: slide-in 1.5s reverse;
}

.greet-leave-active, .greet-leave-active {
  transition: opacity 1.5s;
}

.greet-leave-active {
  position: absolute;
}

.greet-enter, .greet-leave-to {
  opacity: 0.0;
}

.panel {
  border: 1px solid black;
  width: 350px;
  overflow: hidden;
}

// v-move(ここではtodo-move)は既存の項目に対してアニメーションを適用する役割を持つ
.todo-enter-active, .todo-leave-active, .todo-move{
  transition: transform 1s;
}

.todo-enter, .todo-leave-to {
  transform: translateX(30%);
}

.todo-leave-active {
  position: absolute;
}