.mb {
  margin-bottom: 50px;
}

.ml {
  margin-left: 20px;
}

.p-mb {
  margin-bottom: 0;
}

#app7-main {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

[v-cloak] {
  display: none;
}

#app30-main {
  width: 400px;
  height: 150px;
  border: 1px solid black;
}

#app35-main {
  width: 400px;
  height: 150px;
  border: 1px solid black;
  position: relative;
}

.app35-menu {
  border: 1px solid black;
  position: absolute;
  padding: 5px 20px;
  background-color: gray;
  & > li {
    list-style-type: none;
    padding: 5px 10px;
    & > a {
      text-decoration: none;
      color: white;
    }
  }
}

.small-h1 {
  font-weight: normal;
  font-size: 24px;
  margin: 5px;
}