<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue directive</title>
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <div id="app" class="mb">
    <p v-text="message"></p>
  </div>

  <div id="app2" class="mb">
    <!-- {{}}をMustache構文ではなく文字列として表示 -->
    <p v-pre>{{ message }}</p>
  </div>

  <div id="app3" class="mb">
    <!-- v-bindを利用することで属性値を操作できる -->
    <a v-bind:href="url">Vue.js公式</a>
  </div>

  <div id="app4" class="mb">
    <!-- v-bindの省略 -->
    <a :href="url">Vue.js公式</a>
  </div>

  <div id="app5" class="mb">
    <!-- v-bindを用いる事でブール属性を操作できる -->
    <input type="button" value="クリック" v-bind:disabled="flag">
  </div>

  <div id="app6" class="mb">
    <!-- v-onディレクティブによりイベントを指定する事ができる -->
    <button v-on:click="onclick">クリック</button>
    <!-- v-onは@で省略する事ができる -->
    <button @click="onclick">クリック</button>
    <p>{{ message }}</p>
  </div>

  <div id="app7" class="mb">
    <div id ="app7-main" v-on:mousemove="onmousemove">
      screen: {{ screenX }}/{{ screenY }}<br/>
      page: {{ pageX }}/{{ pageY }}<br/>
      client: {{ clientX }}/{{ clientY }}<br/>
      offset: {{ offsetX }}/{{ offsetY }}<br/>
    </div>
  </div>

  <!-- ラジオボタン -->
  <div id="app8" class="mb">
    <form>
      <label for="dog">いぬ</label>
      <input type="radio" id="dog" value="いぬ" v-model="pet">
      <br>
      <label for="cat">ねこ</label>
      <input type="radio" id="cat" value="ねこ" v-model="pet">
      <br>
      <label for="other">その他</label>
      <input type="radio" id="other" value="その他" v-model="pet">
      <br>
    </form>
    <p>ペット： {{ pet }}</p>
  </div>

  <!-- チェックボックス -->
  <div id="app9" class="mb">
    <form>
      <label for="agree">同意する：</label>
      <input type="checkbox" id="agree" v-model="agree">
      <!-- チェックボックスの値を変えたい場合 -->
      <!-- <input type="checkbox" id="agree" v-model="agree" true-value="yes" false-value="no"> -->
    </form>
    <div>回答：{{ agree }}</div>
  </div>

  <div id="app10" class="mb">
    <form>
      <div>お使いのOSは？</div>
      <label for="windows">Windows</label>
      <input type="checkbox" id="windows" value="Windows" v-model="os">
      <label for="linux">Linux</label>
      <input type="checkbox" id="linux" value="Linux" v-model="os">
      <label for="mac">macOS</label>
      <input type="checkbox" id="mac" value="macOS" v-model="os">
    </form>
    <p>回答：{{ os }}</p>
  </div>

  <!-- 選択ボックス -->
  <div id="app11" class="mb">
    <form>
      <label for="os">お使いのOSは？</label><br>
      <!-- 複数選択の場合 -->
      <!-- <select v-model="os" multiple size="3"> -->
      <select id="os" v-model="os">
        <option value="">OSを選択してください</option>
        <option>Windows</option>
        <option>Linux</option>
        <option>macOS</option>
      </select>
    </form>
    <p>回答：{{ os }}</p>
  </div>

  <div id="app12" class="mb">
    <form>
      <label for="temperature">気温</label>
      <!-- .number修飾子で入力値を数値としてプロパティにバインド -->
      <input type="text" id="temperature" v-model.number="temperature" v-on:change="onchangetemp"><br>
      <label for="memo">メモ：</label>
      <!-- .trim修飾子で入力値の前後の空白を除去する -->
      <input type="text" id="memo" v-model.trim="memo" v-on:change="onchangememo"><br>
      <label for="name">氏名：</label>
      <!-- .lazy修飾子でバインドのタイミングを遅延させる -->
      <input type="text" id="name" v-model.lazy="myName">
      <div>こんにちは、{{ myName }}さん！</div>
    </form>
  </div>

  <!-- v-modelを用いない双方向データバインディング -->
  <div id="app13" class="mb">
    <form>
      <label for="mail">メールアドレス：</label>
      <textarea id="mail" cols="30" rows="10"
      v-bind:value="mails.join(';')"
      v-on:input="mails=$event.target.value.split(';')"></textarea>
    </form>
    <ul>
      <li v-for="mail in mails">
        {{ mail }}
      </li>
    </ul>
  </div>

  <!-- v-ifを用いた表示の切り替え -->
  <div id="app14" class="mb">
    <form>
      <label for="show">表示/非表示</label>
      <input type="checkbox" id="show" v-model="show">
    </form>
    <div id="panel" v-if="show">
      <h3>こんにちは</h3>
      <p>テキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキスト</p>
    </div>
    <div v-else>非表示状態です。</div>
  </div>

  <!-- v-showでの書き換え(切り替えの頻度が高い時はこっちを使う) -->
  <div id="app17" class="mb">
    <form>
      <label for="show">表示/非表示</label>
      <input type="checkbox" id="show" v-model="show">
    </form>
    <div id="panel" v-show="show">
      <h3>こんにちは</h3>
      <p>テキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキスト</p>
    </div>
    <div v-show="!show">非表示状態です。</div>
  </div>

  <div id="app15" class="mb">
    <form>
      <label for="holiday">祝日：</label><br>
      <select id="holiday" v-model="holiday">
        <option value="">祝日を選択してください。</option>
        <option value="new">元日</option>
        <option value="child">こどもの日</option>
        <option value="culture">文化の日</option>
        <option value="labor">勤労感謝の日</option>
      </select>
    </form>
    <div v-if="holiday==='new'">1月1日。元日（がんじつ）は年の最初の日。</div>
    <div v-else-if="holiday==='child'">5月5日。こどもの日（こどものひ）とは、日本における国民の祝日の一つで、端午の節句である5月5日に制定されている。</div>
    <div v-else-if="holiday==='culture'">11月3日。文化の日（ぶんかのひ）は、日本の国民の祝日の一つである。明治天皇の誕生日にあたり、明治期に天長節、昭和初期に明治節として祝日となっていた日である。</div>
    <div v-else-if="holiday==='labor'">11月23日。勤労感謝の日（きんろうかんしゃのひ）は、日本の国民の祝日の一つである。</div>
    <div v-else>何も選択されていません</div>
  </div>
  
  <!-- 要素の再利用の注意 -->
  <div id="app16" class="mb">
    <fieldset>
      <legend>支払い方法</legend>
      クレジットカード：
      <input type="radio" name="pay" value="credit" v-model="pay">
      銀行振込：
      <input type="radio" name="pay" value="bank" v-model="pay">
      <hr>
      <div v-if="pay === 'credit'">
        カード番号：
        <!-- keyを指定する事で、input要素を識別 -->
        <input type="text" key="credit">
      </div>
      <div v-else-if="pay === 'bank'">
        口座番号：
        <!-- keyを指定する事で、input要素を識別 -->
        <input type="text" key="bank">
      </div>
    </fieldset>
  </div>

  <!-- v-forによる繰り返し処理 -->
  <div id="app18" class="mb">
    <table>
      <th>id</th><th>書名</th><th>著者</th><th>価格</th>
      <!-- iによってインデックス番号も取得できる -->
      <tr v-for="(b, i) in books">
        <td>{{ i + 1 }}</td>
        <td>{{ b.title }}</td>
        <td>{{ b.author }}</td>
        <td>{{ b.price }}</td>
      </tr>
    </table>
  </div>

  <!-- オブジェクトのプロパティを繰り返し処理で取得 -->
  <div id="app19" class="mb">
    <ul v-for="(value, key, i) in book">
      <li>{{ key }}：{{ value }}</li>
    </ul>
  </div>

  <div id="app20" class="mb">
    <span v-for="i in 5">{{ i * 2 }} </span>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>