<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue directive</title>
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <div id="app" class="mb">
    <p v-text="message"></p>
  </div>

  <div id="app2" class="mb">
    <!-- {{}}をMustache構文ではなく文字列として表示 -->
    <p v-pre>{{ message }}</p>
  </div>

  <div id="app3" class="mb">
    <!-- v-bindを利用することで属性値を操作できる -->
    <a v-bind:href="url">Vue.js公式</a>
  </div>

  <div id="app4" class="mb">
    <!-- v-bindの省略 -->
    <a :href="url">Vue.js公式</a>
  </div>

  <div id="app5" class="mb">
    <!-- v-bindを用いる事でブール属性を操作できる -->
    <input type="button" value="クリック" v-bind:disabled="flag">
  </div>

  <div id="app6" class="mb">
    <!-- v-onディレクティブによりイベントを指定する事ができる -->
    <button v-on:click="onclick">クリック</button>
    <!-- v-onは@で省略する事ができる -->
    <button @click="onclick">クリック</button>
    <p>{{ message }}</p>
  </div>

  <div id="app7" class="mb">
    <div id ="app7-main" v-on:mousemove="onmousemove">
      screen: {{ screenX }}/{{ screenY }}<br/>
      page: {{ pageX }}/{{ pageY }}<br/>
      client: {{ clientX }}/{{ clientY }}<br/>
      offset: {{ offsetX }}/{{ offsetY }}<br/>
    </div>
  </div>

  <!-- ラジオボタン -->
  <div id="app8" class="mb">
    <form>
      <label for="dog">いぬ</label>
      <input type="radio" id="dog" value="いぬ" v-model="pet">
      <br>
      <label for="cat">ねこ</label>
      <input type="radio" id="cat" value="ねこ" v-model="pet">
      <br>
      <label for="other">その他</label>
      <input type="radio" id="other" value="その他" v-model="pet">
      <br>
    </form>
    <p>ペット： {{ pet }}</p>
  </div>

  <!-- チェックボックス -->
  <div id="app9" class="mb">
    <form>
      <label for="agree">同意する：</label>
      <input type="checkbox" id="agree" v-model="agree">
      <!-- チェックボックスの値を変えたい場合 -->
      <!-- <input type="checkbox" id="agree" v-model="agree" true-value="yes" false-value="no"> -->
    </form>
    <div>回答：{{ agree }}</div>
  </div>

  <div id="app10" class="mb">
    <form>
      <div>お使いのOSは？</div>
      <label for="windows">Windows</label>
      <input type="checkbox" id="windows" value="Windows" v-model="os">
      <label for="linux">Linux</label>
      <input type="checkbox" id="linux" value="Linux" v-model="os">
      <label for="mac">macOS</label>
      <input type="checkbox" id="mac" value="macOS" v-model="os">
    </form>
    <p>回答：{{ os }}</p>
  </div>

  <!-- 選択ボックス -->
  <div id="app11" class="mb">
    <form>
      <label for="os">お使いのOSは？</label><br>
      <select id="os" v-model="os">
        <option value="">OSを選択してください</option>
        <option>Windows</option>
        <option>Linux</option>
        <option>macOS</option>
      </select>
    </form>
    <p>回答：{{ os }}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>