<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Component lesson</title>
</head>
<body>
  <div id="app1">
    <my-hello></my-hello>
  </div>

  <div id="app2">
    <hello-world></hello-world>
  </div>

  <div id="app3">
    <hello-name your-name="佐藤"></hello-name>
  </div>

  <div id="app4">
    <my-counter init="0"></my-counter>
  </div>

  <div id="app5">
    <p>現在値：{{ current }}</p>
    <my-calculator step="1" v-on:plus="onplus"></my-calculator>
    <my-calculator step="2" v-on:plus="onplus"></my-calculator>
    <my-calculator step="-1" v-on:plus="onplus"></my-calculator>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="component.js"></script>
</body>
</html>