<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Component lesson</title>
</head>
<body>
  <div id="app1">
    <my-hello></my-hello>
  </div>

  <div id="app2">
    <hello-world></hello-world>
  </div>

  <div id="app3">
    <hello-name your-name="佐藤"></hello-name>
  </div>

  <div id="app4">
    <my-counter init="0"></my-counter>
  </div>

  <div id="app5">
    <p>現在値：{{ current }}</p>
    <my-calculator step="1" v-on:plus="onplus"></my-calculator>
    <my-calculator step="2" v-on:plus="onplus"></my-calculator>
    <my-calculator step="-1" v-on:plus="onplus"></my-calculator>
  </div>

<!-- スロット -->
  <div id="app6">
    <hello-slot>田中</hello-slot>
    <hello-slot></hello-slot>
  </div>

  <div id="app7">
    <my-slot>
      <template v-slot:header>
        <h3>ようこそVue.jsへ</h3>
      </template>

      <p>頑張りましょう！</p>

      <!-- v-slotは#で省略することができる -->
      <template #footer>
        <span>Written by satou</span>
      </template>

      <p>質問は掲示板へ</p>
    </my-slot>
  </div>

  <div id="app8">
    <my-book>
      <template v-slot:default="slotProp">
        {{ slotProp.book.title }} ({{ slotProp.book.price }}円)
      </template>
    </my-book>
  </div>

  <div id="app9">
    <component v-bind:is="currentBanner"/>
  </div>

  <div id="app10">
    <div id="container">
      <ul>
        <li v-for="tab in tabNames">
          <a href="#" v-on:click.prevent="onclick(tab)">{{ tabs[tab] }}</a>
        </li>
      </ul>
      <keep-alive>
        <component v-bind:is="currentTab"></component>
      </keep-alive>
    </div>
  </div>

  <div id="app11">
    <my-input v-model="message"></my-input>
    <p>入力値：{{ message }}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="component.js"></script>
</body>
</html>