<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>parts technology</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="../style/create.css">
</head>
<body>
  <!-- ディレクティブの自作 -->
  <div id="app1">
    <select v-model="backColor">
      <option value="yellow">黄色</option>
      <option value="red">赤色</option>
      <option value="blue">青色</option>
    </select>
    <p>
      <!-- .border修飾子で背景ハイライトか枠線ハイライトかを選択 .once修飾子で一度だけ更新 -->
      おはようございます！今日も<span v-highlight.border.once="backColor">筋トレ</span><span v-importantcolor="color">頑張り</span>ましょう！
    </p>
  </div>

  <!-- 引数付きのディレクティブを定義 -->
  <div id="app2">
    <p>こんにちは！今日も
      <!-- 引数border or bg or text -->
      <span v-highlight2:border="color">勉強</span>
        頑張りましょう！
    </p>
  </div>

  <div id="app3">
    <p>
      こんばんは！今日も
      <span v-highlight3="color">買い物</span>
      に行きましょう！
    </p>
  </div>

  <!-- フィルター -->
  <div id="app4">
    <div v-bind:title="str | trim">str: 「{{ str | trim }}」</div>
  </div>

  <div id="app5">
    <textarea v-model="memo" cols="30" rows="10"></textarea>
    <div v-bind:inner-html.prop="memo | nl2br"></div>
  </div>

  <div id="app6">
    <textarea v-model="memo" cols="30" rows="10"></textarea>
    <div>{{ memo | truncate }}</div>
    <div>{{ memo | truncate(20, '~') }}</div>
  </div>

  <div id="app7">
    <div>元の数字：{{ value }}</div>
    <div>加工後：{{ value | abs | number(2) }}</div>
  </div>

  <div id="app8">
    <form>
      <label for="name">氏名：</label>
      <!-- requiredで必須であると定め、maxで文字数制限を定める -->
      <input v-validate="'required|max: 10'" data-vv-as="氏名" id="name" name="name">
      <span v-show="errors.has('name')">{{ errors.first('name') }}</span><br>
      <label for="age">年齢：</label>
      <!-- numericで数値かどうか、betweenで範囲を指定 -->
      <input v-validate="{ numeric:true, between: [20, 60] }" data-vv-as="年齢" id="age" name="age" type="number">
      <span v-show="errors.has('age')">{{ errors.first('age') }}</span><br>
      <label for="sex">性別</label>
      <!-- includedでいずれかの選択 -->
      <select v-validate="'included:男,女,その他'" id="sex" data-vv-as="性別" name="sex">
        <option value="男">男性</option>
        <option value="女">女性</option>
        <option value="その他">その他</option>
      </select>
      <span v-show="errors.has('sex')">{{ errors.first('sex') }}</span><br>
    </form>
  </div>

  <div id="app9">
    <form>
      <label for="memo">メモ：</label>
      <textarea name="memo" id="memo" cols="30" rows="10" v-validate="'ngword:バカ,アホ,死ね'" data-vv-as="メモ"></textarea>
      <span v-show="errors.has('memo')">{{ errors.first('memo') }}</span>
    </form>
  </div>

  <div id="app10">
    <el-carousel :interval="5000" arrow="hover">
      <el-carousel-item>
        <div>
          <h3>CatCafe</h3>
          <p>猫カフェへようこそ！</p>
          <img src="../image/image3.png">
        </div>
      </el-carousel-item>
      <el-carousel-item>
        <div>
          <h3>勉強会</h3>
          <p>Vue.jsの勉強をみんなで頑張りましょう！</p>
          <a href="">こちら</a>
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>

  <!-- プラグインの自作 -->
  <div id="app11">
    <div v-bind:title="str | trim">str: 「{{ str | trim }}」</div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vee-validate@<3.0.0/dist/vee-validate.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="create.js"></script>
</body>
</html>